In [3]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score 
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
import warnings
warnings.filterwarnings("ignore")

In [4]:
df =pd.read_csv(r"bank_Dataset for DT.csv")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,1
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3,1
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3,1
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3,1
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3,1

In [5]:
df["deposit"].value_counts()

0    5873
1    5289
Name: deposit, dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  int64
 2   marital    11162 non-null  int64
 3   education  11162 non-null  int64
 4   default    11162 non-null  int64
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  int64
 7   loan       11162 non-null  int64
 8   contact    11162 non-null  int64
 9   day        11162 non-null  int64
 10  month      11162 non-null  int64
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  int64
 16  deposit    11162 non-null  int64
dtypes: int64(17)
memory usage: 1.4 MB

In [10]:
#separate x and y
x=df.iloc[:,0:-1]
x

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,1,2,0,0,1,1,0,0,20,0,257,1,-1,0,3
11158,39,7,1,1,0,733,0,0,2,16,6,83,4,-1,0,3
11159,32,9,2,1,0,29,0,0,0,19,1,156,2,-1,0,3
11160,43,9,1,1,0,0,0,1,0,8,8,9,2,172,5,0
11161,34,9,1,1,0,0,0,0,0,9,5,628,1,-1,0,3

In [11]:
y=df["deposit"]
y

0        1
1        1
2        1
3        1
4        1
        ..
11157    0
11158    0
11159    0
11160    0
11161    0
Name: deposit, Length: 11162, dtype: int64

In [19]:
xtrain,xtest,ytrain,ytest= train_test_split(x,y,test_size=0.30,random_state=42)

In [20]:
lr=LogisticRegression()
#knn=KNeighborsClassifier()
#svm=SVC()
dt=DecisionTreeClassifier()

In [23]:
def mymodel(model):
    model.fit(xtrain,ytrain)
    ypred=model.predict(xtest)
    ac=accuracy_score(ytest,ypred)
    cr = classification_report(ytest,ypred)
    print(f"Accuracy: {ac} \n\n Classification Report \n {cr}")

In [24]:
mymodel(dt)

Accuracy: 0.7826216781128695

 Classification Report
               precision    recall  f1-score   support

           0       0.79      0.80      0.79      1742
           1       0.78      0.77      0.77      1607

    accuracy                           0.78      3349
   macro avg       0.78      0.78      0.78      3349
weighted avg       0.78      0.78      0.78      3349

In [25]:
mymodel(lr)

Accuracy: 0.7476858763810093

 Classification Report
               precision    recall  f1-score   support

           0       0.74      0.80      0.77      1742
           1       0.76      0.69      0.72      1607

    accuracy                           0.75      3349
   macro avg       0.75      0.75      0.75      3349
weighted avg       0.75      0.75      0.75      3349

Check for Overfitting in DT

In [27]:
dt.score(xtrain,ytrain)

1.0

In [28]:
dt.score(xtest,ytest)

0.7826216781128695

Low Bias and High Variance : Overfitting

# HyperTuning DT

1. MAX_DEPTH

In [44]:
acc_list=[]
depth_list=[]
for i in range(1,16):
    dt1= DecisionTreeClassifier(max_depth=i)
    dt1.fit(xtrain,ytrain)
    ypred=dt1.predict(xtest)
    ac=accuracy_score(ytest,ypred)
    
    depth_list.append(i)
    acc_list.append(ac)
    
    print(f"For max_depth={i}, We get Accuracy= {ac}")

For max_depth=1, We get Accuracy= 0.7106598984771574
For max_depth=2, We get Accuracy= 0.7055837563451777
For max_depth=3, We get Accuracy= 0.775753956404897
For max_depth=4, We get Accuracy= 0.7814272917288743
For max_depth=5, We get Accuracy= 0.8041206330247835
For max_depth=6, We get Accuracy= 0.8056136160047775
For max_depth=7, We get Accuracy= 0.8154673036727381
For max_depth=8, We get Accuracy= 0.8130785309047477
For max_depth=9, We get Accuracy= 0.8062108091967751
For max_depth=10, We get Accuracy= 0.8088981785607644
For max_depth=11, We get Accuracy= 0.8077037921767691
For max_depth=12, We get Accuracy= 0.8023290534487907
For max_depth=13, We get Accuracy= 0.797252911316811
For max_depth=14, We get Accuracy= 0.7903851896088384
For max_depth=15, We get Accuracy= 0.7936697521648253

In [48]:
# To find the Max Depth giving highest accuracy    
max_acc= acc_list[0]
for i in range(1, len(acc_list)): 
    if (acc_list[i] > max_acc):
        max_acc = acc_list[i]
max_index = acc_list.index(max_acc)
print(f"We observed that, Highest Accuracy of the DT is achieved when its max_depth is : {max_index+1}")

We observed that, Highest Accuracy of the DT is achieved when its max_depth is : 7

In [49]:
#Lets build  DT Model with Max_Depth = 7
dt2= DecisionTreeClassifier(max_depth=7)
mymodel(dt2)

Accuracy: 0.815765900268737

 Classification Report
               precision    recall  f1-score   support

           0       0.80      0.86      0.83      1742
           1       0.84      0.76      0.80      1607

    accuracy                           0.82      3349
   macro avg       0.82      0.81      0.81      3349
weighted avg       0.82      0.82      0.82      3349

In [50]:
dt2.score(xtrain,ytrain)

0.8369384359400999

GREAT!, This has resolved overfitting to a much greater extent !!!

2. MIN_SAMPLE_SPLIT

In [79]:
sample_split_list=[]
acc_list=[]
for i in range(2,50):
    dt3= DecisionTreeClassifier(min_samples_split=i)
    dt3.fit(xtrain,ytrain)
    ypred=dt3.predict(xtest)
    ac=accuracy_score(ytest,ypred)
    
    sample_split_list.append(i)
    acc_list.append(ac)
    
    #print(f"For max_depth={i}, We get Accuracy= {ac}")

In [80]:
# To find the Min_sample_split giving highest accuracy    
max_acc= acc_list[0]
for i in range(1, len(acc_list)): 
    if (acc_list[i] > max_acc):
        max_acc = acc_list[i]
max_index = acc_list.index(max_acc)
print(f"We observed that, Highest Accuracy of the DT is achieved when its min_sample_split is : {max_index+2}")

We observed that, Highest Accuracy of the DT is achieved when its min_sample_split is : 49

In [81]:
dt4=DecisionTreeClassifier(min_samples_split=49)
mymodel(dt4)

Accuracy: 0.8127799343087488

 Classification Report
               precision    recall  f1-score   support

           0       0.83      0.80      0.82      1742
           1       0.79      0.83      0.81      1607

    accuracy                           0.81      3349
   macro avg       0.81      0.81      0.81      3349
weighted avg       0.81      0.81      0.81      3349

In [82]:
dt4.score(xtrain,ytrain)

0.8749520030718034

In [84]:
sample_leaf_list=[]
acc_list=[]
for i in range(1,50):
    dt5= DecisionTreeClassifier(min_samples_leaf=i)
    dt5.fit(xtrain,ytrain)
    ypred=dt5.predict(xtest)
    ac=accuracy_score(ytest,ypred)
    
    sample_leaf_list.append(i)
    acc_list.append(ac)
    
    #print(f"For min_sample_leaf={i}, We get Accuracy= {ac}")

In [85]:
# To find the Min_sample_leaf giving highest accuracy    
max_acc= acc_list[0]
for i in range(1, len(acc_list)): 
    if (acc_list[i] > max_acc):
        max_acc = acc_list[i]
max_index = acc_list.index(max_acc)
print(f"We observed that, Highest Accuracy of the DT is achieved when its min_samples_leaf is : {max_index+1}")

We observed that, Highest Accuracy of the DT is achieved when its min_samples_leaf is : 31