In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("bank_Dataset for DT.csv")
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,1
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3,1
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3,1
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3,1
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,1,2,0,0,1,1,0,0,20,0,257,1,-1,0,3,0
11158,39,7,1,1,0,733,0,0,2,16,6,83,4,-1,0,3,0
11159,32,9,2,1,0,29,0,0,0,19,1,156,2,-1,0,3,0
11160,43,9,1,1,0,0,0,1,0,8,8,9,2,172,5,0,0
11161,34,9,1,1,0,0,0,0,0,9,5,628,1,-1,0,3,0

In [3]:
df["deposit"].value_counts()

0    5873
1    5289
Name: deposit, dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  int64
 2   marital    11162 non-null  int64
 3   education  11162 non-null  int64
 4   default    11162 non-null  int64
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  int64
 7   loan       11162 non-null  int64
 8   contact    11162 non-null  int64
 9   day        11162 non-null  int64
 10  month      11162 non-null  int64
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  int64
 16  deposit    11162 non-null  int64
dtypes: int64(17)
memory usage: 1.4 MB

In [5]:
x = df.iloc[:,:-1]
x

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,1,2,0,0,1,1,0,0,20,0,257,1,-1,0,3
11158,39,7,1,1,0,733,0,0,2,16,6,83,4,-1,0,3
11159,32,9,2,1,0,29,0,0,0,19,1,156,2,-1,0,3
11160,43,9,1,1,0,0,0,1,0,8,8,9,2,172,5,0
11161,34,9,1,1,0,0,0,0,0,9,5,628,1,-1,0,3

In [6]:
# y = df.iloc[:,-1]
# y

In [7]:
y = df["deposit"]
y

0        1
1        1
2        1
3        1
4        1
        ..
11157    0
11158    0
11159    0
11160    0
11161    0
Name: deposit, Length: 11162, dtype: int64

In [8]:
lr = LogisticRegression()
# knn = KNeigborsClassifier()
# svm = SVC()
dt = DecisionTreeClassifier()

In [9]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size = 0.3, random_state = 42)

In [10]:
def mymodel(model):
    model.fit(xtrain, ytrain)
    ypred = model.predict(xtest)
    ac = accuracy_score(ytest, ypred)
    cr = classification_report(ytest, ypred)
    print(f"Accuracy is {ac} \n\n Classifcation report \n {cr}")

In [11]:
mymodel(lr)

Accuracy is 0.7476858763810093

 Classifcation report
               precision    recall  f1-score   support

           0       0.74      0.80      0.77      1742
           1       0.76      0.69      0.72      1607

    accuracy                           0.75      3349
   macro avg       0.75      0.75      0.75      3349
weighted avg       0.75      0.75      0.75      3349

In [12]:
mymodel(dt) # Accuracy for None which is Default value for max_depth

Accuracy is 0.7811286951328755

 Classifcation report
               precision    recall  f1-score   support

           0       0.79      0.79      0.79      1742
           1       0.77      0.77      0.77      1607

    accuracy                           0.78      3349
   macro avg       0.78      0.78      0.78      3349
weighted avg       0.78      0.78      0.78      3349

# Checking for overfitting in dt

In [13]:
dt.score(xtrain,ytrain)

1.0

In [14]:
dt.score(xtest,ytest)

0.7811286951328755

In [15]:
''' 
By analyzing above accuracy values for bias(trainig error) is zero because opposite of accuracy is error and offcourse there is 
some varaince(testing error) because it is not 1 like bias,
So Low/Zero Bias and High Variance means the our dt model is Overfit.
'''

' \nBy analyzing above accuracy values for bias(trainig error) is zero because opposite of accuracy is error and offcourse there is \nsome varaince(testing error) because it is not 1 like bias,\nSo Low/Zero Bias and High Variance means the our dt model is Overfit.\n'

# Hypertunning dt

1.MAX_DEPTH

In [16]:
acc_list = []
dep_list = []
for i in range(1,16):
    dt1 = DecisionTreeClassifier(max_depth = i)
    dt1.fit(xtrain, ytrain)
    ypred = dt1.predict(xtest)
    acc = accuracy_score(ytest, ypred)
    
    acc_list.append(acc)
    dep_list.append(i)
    
    print(f"The accuracy for max_depth = {i} is {acc}")

The accuracy for max_depth = 1 is 0.7106598984771574
The accuracy for max_depth = 2 is 0.7055837563451777
The accuracy for max_depth = 3 is 0.775753956404897
The accuracy for max_depth = 4 is 0.7814272917288743
The accuracy for max_depth = 5 is 0.8041206330247835
The accuracy for max_depth = 6 is 0.80501642281278
The accuracy for max_depth = 7 is 0.8148701104807405
The accuracy for max_depth = 8 is 0.8106897581367573
The accuracy for max_depth = 9 is 0.8062108091967751
The accuracy for max_depth = 10 is 0.8062108091967751
The accuracy for max_depth = 11 is 0.806509405792774
The accuracy for max_depth = 12 is 0.8026276500447895
The accuracy for max_depth = 13 is 0.7999402806808003
The accuracy for max_depth = 14 is 0.7936697521648253
The accuracy for max_depth = 15 is 0.7933711555688265

In [17]:
# To find the Max_Depth giving the highest accuracy.
max_acc = acc_list[0]
for i in range(1, len(acc_list)):
    if acc_list[i] > max_acc :
        max_acc = acc_list[i]
max_index = acc_list.index(max_acc)
print(f"We observed that , Highest accuracy of the our dt model we get when its max_depth is {max_index + 1} ")

We observed that , Highest accuracy of the our dt model we get when its max_depth is 7

In [18]:
# Let's build dt model with Max_Depth = 7
dt2 = DecisionTreeClassifier(max_depth = 7)
mymodel(dt2)

Accuracy is 0.8154673036727381

 Classifcation report
               precision    recall  f1-score   support

           0       0.80      0.87      0.83      1742
           1       0.84      0.76      0.80      1607

    accuracy                           0.82      3349
   macro avg       0.82      0.81      0.81      3349
weighted avg       0.82      0.82      0.81      3349

In [19]:
# Checking Bias(think in opposite(error) way of below value(accuracy of training)) after HyperTunning with max_depth = 7.
dt2.score(xtrain, ytrain)

0.8369384359400999

In [20]:
# Checking Variance(think in opposite(error) way of below value(accuracy of testing)) after HyperTunning with max_depth = 7.
dt2.score(xtest, ytest)

0.8154673036727381

GREAT!, This has resolved overfitting to much greater extend!!!

2) MIN_SAMPLE_SPLIT

In [28]:
acc_list = []
split_list = []
for i in range(2,100):
    dt2 = DecisionTreeClassifier(min_samples_split = i)
    dt2.fit(xtrain, ytrain)
    ypred = dt2.predict(xtest)
    ac = accuracy_score(ytest, ypred)
   
    acc_list.append(ac)
    split_list.append(i)
    
    print(f"The accuracy of min_sample_split = {i} is {ac}")

The accuracy of min_sample_split = 2 is 0.7802329053448791
The accuracy of min_sample_split = 3 is 0.782024484920872
The accuracy of min_sample_split = 4 is 0.7799343087488803
The accuracy of min_sample_split = 5 is 0.7829202747088683
The accuracy of min_sample_split = 6 is 0.786503433860854
The accuracy of min_sample_split = 7 is 0.7847118542848611
The accuracy of min_sample_split = 8 is 0.7826216781128695
The accuracy of min_sample_split = 9 is 0.7832188713048671
The accuracy of min_sample_split = 10 is 0.7856076440728575
The accuracy of min_sample_split = 11 is 0.7885936100328457
The accuracy of min_sample_split = 12 is 0.7897879964168408
The accuracy of min_sample_split = 13 is 0.7873992236488504
The accuracy of min_sample_split = 14 is 0.7945655419528217
The accuracy of min_sample_split = 15 is 0.7945655419528217
The accuracy of min_sample_split = 16 is 0.7939683487608241
The accuracy of min_sample_split = 17 is 0.7951627351448194
The accuracy of min_sample_split = 18 is 0.794266945356823
The accuracy of min_sample_split = 19 is 0.7966557181248134
The accuracy of min_sample_split = 20 is 0.8008360704687967
The accuracy of min_sample_split = 21 is 0.8020304568527918
The accuracy of min_sample_split = 22 is 0.8032248432367871
The accuracy of min_sample_split = 23 is 0.8029262466407883
The accuracy of min_sample_split = 24 is 0.8023290534487907
The accuracy of min_sample_split = 25 is 0.8032248432367871
The accuracy of min_sample_split = 26 is 0.8041206330247835
The accuracy of min_sample_split = 27 is 0.8047178262167811
The accuracy of min_sample_split = 28 is 0.8041206330247835
The accuracy of min_sample_split = 29 is 0.8041206330247835
The accuracy of min_sample_split = 30 is 0.8047178262167811
The accuracy of min_sample_split = 31 is 0.8014332636607943
The accuracy of min_sample_split = 32 is 0.8026276500447895
The accuracy of min_sample_split = 33 is 0.808002388772768
The accuracy of min_sample_split = 34 is 0.808002388772768
The accuracy of min_sample_split = 35 is 0.8074051955807704
The accuracy of min_sample_split = 36 is 0.808002388772768
The accuracy of min_sample_split = 37 is 0.8083009853687668
The accuracy of min_sample_split = 38 is 0.8077037921767691
The accuracy of min_sample_split = 39 is 0.8077037921767691
The accuracy of min_sample_split = 40 is 0.8074051955807704
The accuracy of min_sample_split = 41 is 0.809495371752762
The accuracy of min_sample_split = 42 is 0.8088981785607644
The accuracy of min_sample_split = 43 is 0.809495371752762
The accuracy of min_sample_split = 44 is 0.8097939683487608
The accuracy of min_sample_split = 45 is 0.8100925649447597
The accuracy of min_sample_split = 46 is 0.8100925649447597
The accuracy of min_sample_split = 47 is 0.8112869513287548
The accuracy of min_sample_split = 48 is 0.8121827411167513
The accuracy of min_sample_split = 49 is 0.8121827411167513
The accuracy of min_sample_split = 50 is 0.8124813377127501
The accuracy of min_sample_split = 51 is 0.815765900268737
The accuracy of min_sample_split = 52 is 0.8148701104807405
The accuracy of min_sample_split = 53 is 0.8151687070767393
The accuracy of min_sample_split = 54 is 0.8160644968647357
The accuracy of min_sample_split = 55 is 0.8151687070767393
The accuracy of min_sample_split = 56 is 0.815765900268737
The accuracy of min_sample_split = 57 is 0.8154673036727381
The accuracy of min_sample_split = 58 is 0.8151687070767393
The accuracy of min_sample_split = 59 is 0.8169602866527321
The accuracy of min_sample_split = 60 is 0.8178560764407286
The accuracy of min_sample_split = 61 is 0.8184532696327261
The accuracy of min_sample_split = 62 is 0.8184532696327261
The accuracy of min_sample_split = 63 is 0.8190504628247238
The accuracy of min_sample_split = 64 is 0.8199462526127202
The accuracy of min_sample_split = 65 is 0.8199462526127202
The accuracy of min_sample_split = 66 is 0.8199462526127202
The accuracy of min_sample_split = 67 is 0.8196476560167214
The accuracy of min_sample_split = 68 is 0.8208420424007167
The accuracy of min_sample_split = 69 is 0.8208420424007167
The accuracy of min_sample_split = 70 is 0.8205434458047178
The accuracy of min_sample_split = 71 is 0.8220364287847118
The accuracy of min_sample_split = 72 is 0.8214392355927143
The accuracy of min_sample_split = 73 is 0.8235294117647058
The accuracy of min_sample_split = 74 is 0.8244252015527023
The accuracy of min_sample_split = 75 is 0.8250223947447
The accuracy of min_sample_split = 76 is 0.8250223947447
The accuracy of min_sample_split = 77 is 0.8250223947447
The accuracy of min_sample_split = 78 is 0.8256195879366975
The accuracy of min_sample_split = 79 is 0.8256195879366975
The accuracy of min_sample_split = 80 is 0.8253209913406987
The accuracy of min_sample_split = 81 is 0.8271125709166915
The accuracy of min_sample_split = 82 is 0.8268139743206927
The accuracy of min_sample_split = 83 is 0.8232308151687071
The accuracy of min_sample_split = 84 is 0.8226336219767094
The accuracy of min_sample_split = 85 is 0.8229322185727083
The accuracy of min_sample_split = 86 is 0.8232308151687071
The accuracy of min_sample_split = 87 is 0.8235294117647058
The accuracy of min_sample_split = 88 is 0.8250223947447
The accuracy of min_sample_split = 89 is 0.8250223947447
The accuracy of min_sample_split = 90 is 0.8253209913406987
The accuracy of min_sample_split = 91 is 0.8253209913406987
The accuracy of min_sample_split = 92 is 0.8247237981487011
The accuracy of min_sample_split = 93 is 0.8232308151687071
The accuracy of min_sample_split = 94 is 0.8232308151687071
The accuracy of min_sample_split = 95 is 0.8214392355927143
The accuracy of min_sample_split = 96 is 0.8217378321887131
The accuracy of min_sample_split = 97 is 0.8217378321887131
The accuracy of min_sample_split = 98 is 0.8217378321887131
The accuracy of min_sample_split = 99 is 0.8217378321887131

In [30]:
max_acc = acc_list[0]
for i in range(1,len(acc_list)):
    if acc_list[i] > max_acc:
        max_acc = acc_list[i]
        
max_index = acc_list.index(max_acc)
print(f"We observed that, Highest accuracy of our dt model we get when its min_sample_split is {max_index + 2}")

We observed that, Highest accuracy of our dt model we get when its min_sample_split is 81

In [31]:
dt3 = DecisionTreeClassifier(min_samples_split = 81)
mymodel(dt3)

Accuracy is 0.8268139743206927

 Classifcation report
               precision    recall  f1-score   support

           0       0.84      0.82      0.83      1742
           1       0.81      0.83      0.82      1607

    accuracy                           0.83      3349
   macro avg       0.83      0.83      0.83      3349
weighted avg       0.83      0.83      0.83      3349

In [32]:
dt3.score(xtrain, ytrain)

0.8622808140279022

3.MIN_SAMPLES_LEAF

In [37]:
acc_list = []
leaf_list = []
for i in range(1,50):
    dt4 = DecisionTreeClassifier(min_samples_leaf = i)
    dt4.fit(xtrain, ytrain)
    ypred = dt4.predict(xtest)
    ac = accuracy_score(ytest, ypred)
    
    acc_list.append(ac)
    leaf_list.append(i)
    
    print(f"The accuracy of min_samples_leaf = {i} is {ac}")

The accuracy of min_samples_leaf = 1 is 0.7817258883248731
The accuracy of min_samples_leaf = 2 is 0.7826216781128695
The accuracy of min_samples_leaf = 3 is 0.7921767691848313
The accuracy of min_samples_leaf = 4 is 0.787996416840848
The accuracy of min_samples_leaf = 5 is 0.7978501045088086
The accuracy of min_samples_leaf = 6 is 0.795759928336817
The accuracy of min_samples_leaf = 7 is 0.798745894296805
The accuracy of min_samples_leaf = 8 is 0.8005374738727978
The accuracy of min_samples_leaf = 9 is 0.8071065989847716
The accuracy of min_samples_leaf = 10 is 0.815765900268737
The accuracy of min_samples_leaf = 11 is 0.8136757240967453
The accuracy of min_samples_leaf = 12 is 0.8169602866527321
The accuracy of min_samples_leaf = 13 is 0.8178560764407286
The accuracy of min_samples_leaf = 14 is 0.8238280083607047
The accuracy of min_samples_leaf = 15 is 0.8250223947447
The accuracy of min_samples_leaf = 16 is 0.8259181845326963
The accuracy of min_samples_leaf = 17 is 0.8274111675126904
The accuracy of min_samples_leaf = 18 is 0.8262167811286951
The accuracy of min_samples_leaf = 19 is 0.8274111675126904
The accuracy of min_samples_leaf = 20 is 0.8283069573006868
The accuracy of min_samples_leaf = 21 is 0.828008360704688
The accuracy of min_samples_leaf = 22 is 0.8300985368766796
The accuracy of min_samples_leaf = 23 is 0.8336816960286653
The accuracy of min_samples_leaf = 24 is 0.8360704687966557
The accuracy of min_samples_leaf = 25 is 0.8324873096446701
The accuracy of min_samples_leaf = 26 is 0.8318901164526724
The accuracy of min_samples_leaf = 27 is 0.828008360704688
The accuracy of min_samples_leaf = 28 is 0.8330845028366677
The accuracy of min_samples_leaf = 29 is 0.8324873096446701
The accuracy of min_samples_leaf = 30 is 0.8315915198566737
The accuracy of min_samples_leaf = 31 is 0.8351746790086593
The accuracy of min_samples_leaf = 32 is 0.8327859062406688
The accuracy of min_samples_leaf = 33 is 0.8300985368766796
The accuracy of min_samples_leaf = 34 is 0.8321887130486713
The accuracy of min_samples_leaf = 35 is 0.8345774858166617
The accuracy of min_samples_leaf = 36 is 0.8318901164526724
The accuracy of min_samples_leaf = 37 is 0.8315915198566737
The accuracy of min_samples_leaf = 38 is 0.8300985368766796
The accuracy of min_samples_leaf = 39 is 0.8351746790086593
The accuracy of min_samples_leaf = 40 is 0.8351746790086593
The accuracy of min_samples_leaf = 41 is 0.8336816960286653
The accuracy of min_samples_leaf = 42 is 0.8289041504926844
The accuracy of min_samples_leaf = 43 is 0.8297999402806808
The accuracy of min_samples_leaf = 44 is 0.829501343684682
The accuracy of min_samples_leaf = 45 is 0.8303971334726784
The accuracy of min_samples_leaf = 46 is 0.8292027470886831
The accuracy of min_samples_leaf = 47 is 0.8277097641086891
The accuracy of min_samples_leaf = 48 is 0.8277097641086891
The accuracy of min_samples_leaf = 49 is 0.8286055538966856

In [38]:
max_acc = acc_list[0]
for i in range(1,len(acc_list)):
    if acc_list[i] > max_acc:
        max_acc = acc_list[i]
max_index = acc_list.index(max_acc)
print(f"We observed that, Highest accuracy of our model we get when its min_samples_leaf is {max_index + 1}")

We observed that, Highest accuracy of our model we get when its min_samples_leaf is 24

In [39]:
dt5 = DecisionTreeClassifier(min_samples_leaf  = 24)
mymodel(dt5)

Accuracy is 0.8348760824126605

 Classifcation report
               precision    recall  f1-score   support

           0       0.87      0.81      0.84      1742
           1       0.80      0.87      0.83      1607

    accuracy                           0.83      3349
   macro avg       0.84      0.84      0.83      3349
weighted avg       0.84      0.83      0.83      3349

In [40]:
dt5.score(xtrain, ytrain)

0.8531933956226802

In [42]:
dt6 = DecisionTreeClassifier(max_depth = 7, min_samples_split = 81, min_samples_leaf = 24)
mymodel(dt6)

Accuracy is 0.817258883248731

 Classifcation report
               precision    recall  f1-score   support

           0       0.81      0.84      0.83      1742
           1       0.82      0.79      0.81      1607

    accuracy                           0.82      3349
   macro avg       0.82      0.82      0.82      3349
weighted avg       0.82      0.82      0.82      3349

In [43]:
dt6.score(xtrain, ytrain)

0.8233713042365288